ul#paramList 
{
color: #fff;
}

ul#paramList li
{
	padding: 5px;
	border: 2px;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: #FFF;
	box-shadow: 0px 0px 5px #000;
	height: 20px;
	width: 1000px;
	list-style: none;
	color: #000;
}
ul#paramList li:hover
{
	background-color: #8E0000;
	color: #fff;
}
ul#paramList li a {
	color: #000;
	text-align: normal;
}

.quote 
{
	position:relative;
	margin-left: 100px;
	width:300px;
	padding:10px;
	margin-top: -100px;
	font:italic 16px/1.4 Georgia, serif;
	color:#fff;
	background:#8E0000;
}

.quote:after {
    content:"";
    position:absolute;
    top:100%;
    right:25px;
    border-width:20px 20px 0 0;
    border-style:solid;
    border-color:#8E0000 transparent;
    /* css3 extras */
    -webkit-transform:skewX(-15deg);
       -moz-transform:skewX(-15deg);
        -ms-transform:skewX(-15deg);
         -o-transform:skewX(-15deg);
            transform:skewX(-15deg);
}

.credit {
    margin:1em 0 0;
    font:12px/1.2 Arial, sans-serif;
}

.credit:before {
    content:"- ";
}

blockquote, p 
{
	padding:0; margin:0;
}